.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;

  padding: 20px;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
}