.card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.card:hover img {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}